<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
 		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
 		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 		<![endif]-->

</head>

<body>




    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Your Orders</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Home</a></li>
                        <li class="active">Orders</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <div class="container col-md-12">

                    <table class='table display' id="User_Table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Products</th>
                                <th scope="col">viewproduct</th>
                                <th scope="col">cancellation</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each orders}}
                            <tr>

                                <td><span style="font-size:small">{{this.OrderPlacedAt}}</span></td>
                                <td><span
                                        style="font-size:small">{{this.address}},{{this.pincode}},{{this.city}}</span>
                                </td>
                                <td><span style="font-size:small">{{this.OrderStatus}}</span></td>
                                <td><span style="font-size:small">{{this.paymentMethod}}</span></td>
                                <td><span style="font-size:small">{{this.phone}}</span></td>
                                <td><span style="font-size:small">{{this.totalAmount}}</span></td>
                                {{#each this.productDt}}
                                <td>
                                    <img style="width: 50px; height:50px" src="/images/{{this.image.[0].first}}" alt="">
                                </td>
                                {{/each}}
                                <td>
                                    <span>
                                        <a href="/view-order-product{{this._id}}" class="btn btn-primary"
                                            style="font-size:x-small">view
                                            products
                                        </a>
                                    </span>
                                </td>
                                {{#if orderCancelled}}
                                <td>
                                     <span>
                                        <a href="" class="btn btn-danger"
                                            style="font-size:x-small">Cancelled
                                        </a>
                                    </span>
                                </td>   
                                {{else}}
                                <td>   
                                    <span>
                                        <a href="/cancel-order/{{this._id}}" class="btn btn-primary"
                                            style="font-size:x-small">Cancell
                                        </a>
                                    </span>
                                </td> 
                                {{/if}}

                                {{/each}}

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- jQuery Plugins -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>